<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <add name="HotelHRMS" connectionString="server=localhost;port=3306;database=hotel_hrms;user id=hr_admin;password=ChangeMe123!;SslMode=None;" providerName="MySqlConnector" />
  </connectionStrings>
  <applicationSettings>
    <HotelHRMS.My.MySettings>
      <setting name="DefaultWorkDayHours" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="PayrollReportOutputPath" serializeAs="String">
        <value>%USERPROFILE%\Documents\HotelHRMS\PayrollReports</value>
      </setting>
    </HotelHRMS.My.MySettings>
  </applicationSettings>
</configuration>
